.about {
    background-color: #fff1e6;
    width: 100%;
    font-family: 'Open Sans';
    color: #122023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    scroll-margin-top: 80px;
}

.about h1 {
    font-family: 'Roboto';
    font-size: 36px;
}

@media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }