.about {
    background-color: #fff1e6;
    width: 100%;
    font-family: 'Open Sans';
    color: #122023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.about h1 {
    font-family: 'Roboto';
    font-size: 36px;
}