.about {
    background-color: #fff1e6;
    width: 100%;
    font-family: 'Open Sans';
    color: #122023;

    text-wrap: ;
    text-align: right;
}
.projects h1 {
    font-family: 'Roboto';
    font-size: 36px;
}