.skills {
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #122023;
    background-color: #f9f5e3;
  }
  
  .skills h1 {
    color: #122023;
    font-size: 36pt;
    font-family: 'Roboto';

  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }

      .skills {
        text-align: center;
      }
      .list {
        padding: 0;
      }
    
      .skills h2 {
        font-size: 30px;
      }
    }